<launch>
	<arg name="4dof" default="false" />
	<arg name="4dof_fts" default="false" />
	<arg name="4dof_bhand" default="false" />
	<arg name="4dof_fts_bhand" default="false" />
	<arg name="7dof" default="false" />
	<arg name="7dof_fts" default="false" />
	<arg name="7dof_bhand" default="false" />
	<arg name="7dof_fts_bhand" default="false" />
	<arg name="bhand" default="false" />
	<arg name="bhand_fts" default="false" />
	<arg name="mono_camera" default="false" />
	<arg name="stereo_camera" default="false" />
	<!-- disable compressed depth plugin for image transport -->
	<group ns="perception_palm/image_raw">
		  <rosparam param="disable_pub_plugins">
    - 'image_transport/compressedDepth'
    - 'image_transport/theora'
  </rosparam>
	</group>
	<group ns="perception_palm/left/image_raw">
		  <rosparam param="disable_pub_plugins">
    - 'image_transport/compressedDepth'
    - 'image_transport/theora'
  </rosparam>
	</group>
	<group ns="perception_palm/right/image_raw">
		  <rosparam param="disable_pub_plugins">
    - 'image_transport/compressedDepth'
    - 'image_transport/theora'
  </rosparam>
	</group>
	<group if="$(arg 4dof)">
		<node pkg="wam_sim_node" type="wam_sim_node" name="wam_sim_node" args="1" output="screen" />
		<include file="$(find wam_moveit_config)/launch/wam_moveit.launch">
			<arg name="4dof" value="$(arg 4dof)" />
			<arg name="mono_camera" value="$(arg mono_camera)" />
			<arg name="stereo_camera" value="$(arg stereo_camera)" />
		</include>
	</group>
	<group if="$(arg 4dof_bhand)">
		<node pkg="wam_sim_node" type="wam_sim_node" name="wam_sim_node" args="2" output="screen" />
		<node pkg="wam_sim_node" type="bhand_sim_node" name="bhand_sim_node" args="4" output="screen" />
		<include file="$(find wam_moveit_config)/launch/wam_moveit.launch">
			<arg name="4dof_bhand" value="$(arg 4dof_bhand)" />
			<arg name="mono_camera" value="$(arg mono_camera)" />
			<arg name="stereo_camera" value="$(arg stereo_camera)" />
		</include>
	</group>
	<group if="$(arg 4dof_fts)">
		<node pkg="wam_sim_node" type="wam_sim_node" name="wam_sim_node" args="3" output="screen" />
		<include file="$(find wam_moveit_config)/launch/wam_moveit.launch">
			<arg name="4dof_fts" value="$(arg 4dof_fts)" />
			<arg name="mono_camera" value="$(arg mono_camera)" />
			<arg name="stereo_camera" value="$(arg stereo_camera)" />
		</include>
	</group>
	<group if="$(arg 4dof_fts_bhand)">
		<node pkg="wam_sim_node" type="wam_sim_node" name="wam_sim_node" args="4" output="screen" />
		<node pkg="wam_sim_node" type="bhand_sim_node" name="bhand_sim_node" args="4" output="screen" />
		<include file="$(find wam_moveit_config)/launch/wam_moveit.launch">
			<arg name="4dof_fts_bhand" value="$(arg 4dof_fts_bhand)" />
			<arg name="mono_camera" value="$(arg mono_camera)" />
			<arg name="stereo_camera" value="$(arg stereo_camera)" />
		</include>
	</group>
	<group if="$(arg 7dof)">
		<node pkg="wam_sim_node" type="wam_sim_node" name="wam_sim_node" args="5" output="screen" />
		<include file="$(find wam_moveit_config)/launch/wam_moveit.launch">
			<arg name="7dof" value="$(arg 7dof)" />
			<arg name="mono_camera" value="$(arg mono_camera)" />
			<arg name="stereo_camera" value="$(arg stereo_camera)" />
		</include>
	</group>
	<group if="$(arg 7dof_bhand)">
		<node pkg="wam_sim_node" type="wam_sim_node" name="wam_sim_node" args="6" output="screen" />
		<node pkg="wam_sim_node" type="bhand_sim_node" name="bhand_sim_node" args="7" output="screen" />
		<include file="$(find wam_moveit_config)/launch/wam_moveit.launch">
			<arg name="7dof_bhand" value="$(arg 7dof_bhand)" />
			<arg name="mono_camera" value="$(arg mono_camera)" />
			<arg name="stereo_camera" value="$(arg stereo_camera)" />
		</include>
	</group>
	<group if="$(arg 7dof_fts)">
		<node pkg="wam_sim_node" type="wam_sim_node" name="wam_sim_node" args="7" output="screen" />
		<include file="$(find wam_moveit_config)/launch/wam_moveit.launch">
			<arg name="7dof_fts" value="$(arg 7dof_fts)" />
			<arg name="mono_camera" value="$(arg mono_camera)" />
			<arg name="stereo_camera" value="$(arg stereo_camera)" />
		</include>
	</group>
	<group if="$(arg 7dof_fts_bhand)">
		<node pkg="wam_sim_node" type="wam_sim_node" name="wam_sim_node" args="8" output="screen" />
		<node pkg="wam_sim_node" type="bhand_sim_node" name="bhand_sim_node" args="7" output="screen" />
		<include file="$(find wam_moveit_config)/launch/wam_moveit.launch">
			<arg name="7dof_fts_bhand" value="$(arg 7dof_fts_bhand)" />
			<arg name="mono_camera" value="$(arg mono_camera)" />
			<arg name="stereo_camera" value="$(arg stereo_camera)" />
		</include>
	</group>
	<group if="$(arg bhand)">
		<node pkg="wam_sim_node" type="bhand_sim_node" name="bhand_sim_node" args="0" output="screen" />
		<include file="$(find wam_moveit_config)/launch/wam_moveit.launch">
			<arg name="bhand" value="$(arg bhand)" />
			<arg name="mono_camera" value="$(arg mono_camera)" />
			<arg name="stereo_camera" value="$(arg stereo_camera)" />
		</include>
	</group>
	<group if="$(arg bhand_fts)">
		<node pkg="wam_sim_node" type="bhand_sim_node" name="bhand_sim_node" args="0" output="screen" />
		<include file="$(find wam_moveit_config)/launch/wam_moveit.launch">
			<arg name="bhand_fts" value="$(arg bhand_fts)" />
			<arg name="mono_camera" value="$(arg mono_camera)" />
			<arg name="stereo_camera" value="$(arg stereo_camera)" />
		</include>
	</group>
</launch>
