<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">
	<macro name="four_dof_link" params="parent_link">
		<link name="FourthLink">
			<default_inertial xyz="0 0 0" rpy="0 0 ${pi/2}" mass="0.1" />
			<visual>
				<origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
				<geometry>
					<mesh filename="package://wam_description/meshes/wam4dof_link4.STL" />
				</geometry>
				<fourth_link_color />
			</visual>
			<collision>
				<origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
				<geometry>
					<mesh filename="package://wam_description/meshes/wam4dof_link4.STL" />
				</geometry>
			</collision>
		</link>
		<joint name="q4" type="revolute">
			<origin xyz="0.045 0 0" rpy="${pi/2} 0 0" />
			<parent link="${parent_link}" />
			<child link="FourthLink" />
			<axis xyz="0 1 0" />
			<dynamics damping="50.0" friction="10" />
			<limit lower="-0.9" upper="3.1" effort="40" velocity="10" />
		</joint>
	</macro>
</robot>
