<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">
	<include filename="$(find wam_description)/urdf/palm_tactile_sensors.urdf.xacro" />

	<macro name="barrett_hand" params="xyz rpy parent_link">
  <link name="bhand_base">
  <inertial>
  	<mass value="0.001"/>
	  <origin xyz="0 0 0" />  
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
      <origin rpy="1.57 0 -3.14" xyz="0.045 -0.0535 0.0148"/>
      <geometry name="link_bhand_base_visual">
        <mesh filename="package://wam_description/meshes/bhand_base.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <base_color />
    </visual>
    <collision name="bhand_base_collision">
      <origin rpy="1.57 0 -3.14" xyz="0.045 -0.0535 0.0148"/>
      <geometry name="link_bhand_base_collision">
        <mesh filename="package://wam_description/meshes/bhand_base.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
    </collision>
  </link>  
   <link name="bhand_link11">
    <inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0" />  
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
      <origin rpy="1.57 0 1.57" xyz="-0.0525 -0.0705 -0.025"/>
      <geometry name="link_bhand_f11_visual">
        <mesh filename="package://wam_description/meshes/bhand_link1.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.796078431372549 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.57 0 1.57" xyz="-0.0525 -0.0705 -0.025"/>
      <geometry name="link_bhand_f11_collision">
        <mesh filename="package://wam_description/meshes/bhand_link1.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
    </collision>
  </link>  
  
  #LINK BHAND LINK F21
  <link name="bhand_link21">
    <inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0" />  
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
      <origin rpy="1.57 0 1.57" xyz="-0.0525 -0.0705 -0.025"/>
      <geometry name="link_bhand_f21_visual">
        <mesh filename="package://wam_description/meshes/bhand_link1.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.796078431372549 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="1.57 0 1.57" xyz="-0.0525 -0.0705 -0.025"/>
      <geometry name="link_bhand_f21_collision">
        <mesh filename="package://wam_description/meshes/bhand_link1.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
    </collision>
  </link>  
  
  #LINK BHAND LINK F12
  <link name="bhand_link12">
    <inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0" />  
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
      <origin rpy="0 1.57 3.83972" xyz="0.0418 0.1115 0.0456"/>
      <geometry name="link_bhand_f12_visual">
        <mesh filename="package://wam_description/meshes/bhand_link2.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.796078431372549 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.57 3.83972" xyz="0.0418 0.1115 0.0456"/>
      <geometry name="link_bhand_f12_collision">
        <mesh filename="package://wam_description/meshes/bhand_link2.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
    </collision>
  </link>  
  
  #LINK BHAND LINK F22
  <link name="bhand_link22">
    <inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0" />  
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
      <origin rpy="0 1.57 3.83972" xyz="0.0418 0.1115 0.0456"/>
      <geometry name="link_bhand_f22_visual">
        <mesh filename="package://wam_description/meshes/bhand_link2.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.796078431372549 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.57 3.83972" xyz="0.0418 0.1115 0.0456"/>
      <geometry name="link_bhand_f22_collision">
        <mesh filename="package://wam_description/meshes/bhand_link2.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
    </collision>
  </link>  
  
  #LINK BHAND LINK F32
  <link name="bhand_link32">
    <inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0" />  
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
      <origin rpy="0 1.57 3.83972" xyz="0.0418 0.1115 0.0456"/>
      <geometry name="link_bhand_f32_visual">
        <mesh filename="package://wam_description/meshes/bhand_link2.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.796078431372549 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 1.57 3.83972" xyz="0.0418 0.1115 0.0456"/>
      <geometry name="link_bhand_f32_collision">
        <mesh filename="package://wam_description/meshes/bhand_link2.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
    </collision>
  </link>  
  
  #LINK BHAND LINK F13
  <link name="bhand_link13">
    <inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0" />  
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
     <origin rpy="3.92699 1.57 0" xyz="0.108 0.039 0.046"/>
      <geometry name="link_bhand_f13_visual">
        <mesh filename="package://wam_description/meshes/bhand_link3.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.796078431372549 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="3.92699 1.57 0" xyz="0.108 0.039 0.046"/>
      <geometry name="link_bhand_f13_collision">
        <mesh filename="package://wam_description/meshes/bhand_link3.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
    </collision>
  </link>  
  
  #LINK BHAND LINK F23
  <link name="bhand_link23">
    <inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0" />  
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
      <origin rpy="3.92699 1.57 0" xyz="0.108 0.039 0.046"/>
      <geometry name="link_bhand_f23_visual">
        <mesh filename="package://wam_description/meshes/bhand_link3.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.796078431372549 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
     <origin rpy="3.92699 1.57 0" xyz="0.108 0.039 0.046"/>
      <geometry name="link_bhand_f23_collision">
        <mesh filename="package://wam_description/meshes/bhand_link3.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
    </collision>
  </link>  
  
  #LINK BHAND LINK F33
  <link name="bhand_link33">
    <inertial>
  	  <mass value="0.001"/>
	  <origin xyz="0 0 0" />  
	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
	</inertial>
	<visual>
      <origin rpy="3.92699 1.57 0" xyz="0.108 0.039 0.046"/>
      <geometry name="link_bhand_f33_visual">
        <mesh filename="package://wam_description/meshes/bhand_link3.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.796078431372549 0.796078431372549 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="3.92699 1.57 0" xyz="0.108 0.039 0.046"/>
      <geometry name="link_bhand_f33_collision">
        <mesh filename="package://wam_description/meshes/bhand_link3.STL" scale="0.001 0.001 0.001" />
      </geometry>
      <contact_coefficients kd="1.0" kp="1000.0" mu="0"/>
    </collision>
  </link>  

<joint name="bhand_base_joint" type="fixed">
    <parent link="${parent_link}"/>
    <child link="bhand_base" />
    <origin xyz="${xyz}" rpy="${rpy}" />
  </joint>
  
  <joint name="bhand_j11_joint" type="revolute">
     <origin xyz="-0.02475 0.0 0.0395" rpy="0.0 0 -1.57079633" /> 
     <parent link="bhand_base"/>
     <child link="bhand_link11" />
     <axis xyz="0 0 -1"/>
     <limit effort="30" velocity="1.5" lower="0.0" upper="3.14159265" />
     <joint_properties damping="100.0" friction="1000.0" />
     <dynamics damping="1000"/>
  </joint>
  
  <joint name="bhand_j21_joint" type="revolute">
     <origin xyz="0.02475 0.0 0.0395" rpy="0.0 0.0 -1.57079633" /> 
     <parent link="bhand_base"/>
     <child link="bhand_link21" />
     <axis xyz="0 0 -1"/>
     <limit effort="30" velocity="1.5" lower="-3.14159265" upper="0.0" />
     <joint_properties damping="100.0" friction="1000.0" />
     <dynamics damping="1000"/>
  </joint >
  
  <joint name="bhand_j12_joint" type="revolute">
     <origin xyz="0.050 0.0 0.038" rpy="1.57079633 0 0.0" /> 
     <parent link="bhand_link11"/>
     <child link="bhand_link12" />
     <axis xyz="0 0 1"/>
     <limit effort="30" velocity="1.5" lower="0.0" upper="2.44346095" />
     <joint_properties damping="100.0" friction="1000.0" />
     <dynamics damping="1000"/>
  </joint >
  
  <joint name="bhand_j22_joint" type="revolute">
     <origin xyz="0.050 0.0 0.038" rpy="1.57079633 0 0.0" /> 
     <parent link="bhand_link21"/>
     <child link="bhand_link22" />
     <axis xyz="0 0 1"/>
     <limit effort="30" velocity="1.5" lower="0.0" upper="2.44346095" />
     <joint_properties damping="100.0" friction="1000.0" />
     <dynamics damping="1000"/>
  </joint >
  
  <joint name="bhand_j32_joint" type="revolute">
     <origin xyz="0.0 0.050 0.0775" rpy="1.57079633 0 1.57079633" /> 
     <parent link="bhand_base"/>
     <child link="bhand_link32" />
     <axis xyz="0 0 1"/>
     <limit effort="30" velocity="1.5" lower="0.0" upper="2.44346095" />
     <joint_properties damping="100.0" friction="1000.0" />
     <dynamics damping="1000"/>
  </joint >
  
  <joint name="bhand_j13_joint" type="revolute">
     <origin xyz="0.070 0.0 0.0" rpy="0.0 0 0.0" /> 
     <parent link="bhand_link12"/>
     <child link="bhand_link13" />
     <axis xyz="0 0 1"/>
     <limit effort="30" velocity="1.5" lower="0.698131701" upper="2.44346095" />
     <joint_properties damping="100.0" friction="1000.0" />
     <dynamics damping="1000"/>
  </joint >
  
  <joint name="bhand_j23_joint" type="revolute">
     <origin xyz="0.070 0.0 0.0" rpy="0.0 0 0.0" /> 
     <parent link="bhand_link22"/>
     <child link="bhand_link23" />
     <axis xyz="0 0 1"/>
     <limit effort="30" velocity="1.5" lower="0.698131701" upper="2.44346095" />
     <joint_properties damping="100.0" friction="1000.0" />
     <dynamics damping="1000"/>
  </joint >
  
  <joint name="bhand_j33_joint" type="revolute">
     <origin xyz="0.070 0.0 0.0" rpy="0.0 0 0.0" /> 
     <parent link="bhand_link32"/>
     <child link="bhand_link33" />
     <axis xyz="0 0 1"/>
     <limit effort="30" velocity="1.5" lower="0.698131701" upper="2.44346095" />
     <joint_properties damping="100.0" friction="1000.0" />
     <dynamics damping="1000"/>
  </joint >
  <palm_tactile_sensors/>
	</macro>
</robot>