<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller">
    <macro name="mono_camera" params="parent_link xyz">
        <link name="camera_link">
            <origin xyz="0 0 0.0" rpy="0 -1.5706 0" />
        </link>
        <joint name="camera_joint" type="fixed">
            <origin xyz="${xyz}" rpy="0 -1.5706 0" />
            <parent link="${parent_link}" />
            <child link="camera_link" />
        </joint>
        <link name="ir_link">
            <origin xyz="0 0 0.0" rpy="0 -1.5706 0" />
        </link>
        <joint name="ir_joint" type="fixed">
            <origin xyz="${xyz}" rpy="0 -1.5706 0" />
            <parent link="${parent_link}" />
            <child link="ir_link" />
        </joint>
        <!-- camera -->
        <gazebo reference="camera_link">
            <sensor type="camera" name="camera1">
                <update_rate>
                    30.0
                </update_rate>
                <camera name="head">
                    <horizontal_fov>
                        1.0472
                    </horizontal_fov>
                    <image>
                        <width>
                            1600
                        </width>
                        <height>
                            1200
                        </height>
                        <format>
                            rgb16
                        </format>
                    </image>
                    <clip>
                        <near>
                            0.02
                        </near>
                        <far>
                            300
                        </far>
                    </clip>
                    <noise>
                        <type>
                            gaussian
                        </type>
                        <!--
                        Noise is sampled independently per pixel on each frame.
                        That pixel's noise value is added to each of its color
                        channels, which at that point lie in the range [0,1].
                        -->
                        <mean>
                            0.0
                        </mean>
                        <stddev>
                            0.007
                        </stddev>
                    </noise>
                </camera>
                <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                    <alwaysOn>
                        true
                    </alwaysOn>
                    <updateRate>
                        50.0
                    </updateRate>
                    <cameraName>
                        perception_palm
                    </cameraName>
                    <imageTopicName>
                        image_raw
                    </imageTopicName>
                    <frameName>
                        camera_link
                    </frameName>
                </plugin>
            </sensor>
        </gazebo>
        <gazebo reference="ir_link">
            <sensor type="ray" name="barrett_ir_sensor">
                <pose>
                    0 0 0 0 0 0
                </pose>
                <visualize>
                    true
                </visualize>
                <update_rate>
                    50
                </update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>
                                10
                            </samples>
                            <resolution>
                                1
                            </resolution>
                            <min_angle>
                                -0.14835
                            </min_angle>
                            <max_angle>
                                0.14835
                            </max_angle>
                        </horizontal>
                        <vertical>
                            <samples>
                                10
                            </samples>
                            <resolution>
                                1
                            </resolution>
                            <min_angle>
                                -0.14835
                            </min_angle>
                            <max_angle>
                                0.14835
                            </max_angle>
                        </vertical>
                    </scan>
                    <range>
                        <min>
                            0.04
                        </min>
                        <max>
                            0.5
                        </max>
                        <resolution>
                            0.002
                        </resolution>
                    </range>
                </ray>
                <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
                    <gaussianNoise>
                        0.005
                    </gaussianNoise>
                    <alwaysOn>
                        true
                    </alwaysOn>
                    <updateRate>
                        50
                    </updateRate>
                    <topicName>
                        perception_palm/ir/range
                    </topicName>
                    <frameName>
                        ir_link
                    </frameName>
                    <radiation>
                        INFRARED
                    </radiation>
                    <fov>
                        0.2967
                    </fov>
                </plugin>
            </sensor>
        </gazebo>
    </macro>
</robot>
