<?xml version="1.0"?>
<launch>
  <arg name="4dof" default="false" />
  <arg name="4dof_fts" default="false" />
  <arg name="4dof_bhand" default="false" />
  <arg name="4dof_fts_bhand" default="false" />
  <arg name="7dof" default="false" />
  <arg name="7dof_fts" default="false" />
  <arg name="7dof_bhand" default="false" />
  <arg name="7dof_fts_bhand" default="false" />
  <arg name="bhand" default="false" />
  <arg name="bhand_fts" default="false" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam if="$(arg 4dof)" file="$(find wam_moveit_config)/config/4dof_ros_controllers.yaml" command="load"/>
  <rosparam if="$(arg 4dof_fts)" file="$(find wam_moveit_config)/config/4dof_ros_controllers.yaml" command="load"/>
  <rosparam if="$(arg 4dof_bhand)" file="$(find wam_moveit_config)/config/4dof_hand_ros_controllers.yaml" command="load"/>
  <rosparam if="$(arg 4dof_fts_bhand)" file="$(find wam_moveit_config)/config/4dof_hand_ros_controllers.yaml" command="load"/>
  <rosparam if="$(arg 7dof)" file="$(find wam_moveit_config)/config/7dof_ros_controllers.yaml" command="load"/>
  <rosparam if="$(arg 7dof_fts)" file="$(find wam_moveit_config)/config/7dof_ros_controllers.yaml" command="load"/>
  <rosparam if="$(arg 7dof_bhand)" file="$(find wam_moveit_config)/config/7dof_hand_ros_controllers.yaml" command="load"/>
  <rosparam if="$(arg 7dof_fts_bhand)" file="$(find wam_moveit_config)/config/7dof_hand_ros_controllers.yaml" command="load"/>
  <rosparam if="$(arg bhand)" file="$(find wam_moveit_config)/config/bhand_ros_controllers.yaml" command="load"/>
  <rosparam if="$(arg bhand_fts)" file="$(find wam_moveit_config)/config/bhand_ros_controllers.yaml" command="load"/>

  <!-- Load the controllers -->
  <node if="$(arg 4dof)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller joint_trajectory_controller "/>

  <node if="$(arg 4dof_fts)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller joint_trajectory_controller "/>

  <node if="$(arg 4dof_bhand)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller joint_trajectory_controller bhand_joint_trajectory_controller"/>
  
  <node if="$(arg 4dof_fts_bhand)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller joint_trajectory_controller bhand_joint_trajectory_controller"/>
  
  <node if="$(arg 7dof)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller joint_trajectory_controller "/>
  
  <node if="$(arg 7dof_fts)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller joint_trajectory_controller "/>
  
  <node if="$(arg 7dof_bhand)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller joint_trajectory_controller bhand_joint_trajectory_controller"/>
  
  <node if="$(arg 7dof_fts_bhand)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller joint_trajectory_controller bhand_joint_trajectory_controller"/>
  
  <node if="$(arg bhand)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller bhand_joint_trajectory_controller"/>
  
  <node if="$(arg bhand_fts)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/" args="joint_state_controller bhand_joint_trajectory_controller"/>


</launch>
