<launch>
	<!-- specify the planning pipeline -->
	<arg name="pipeline" default="ompl" />
	<!-- By default, we do not start a database (it can be large) -->
	<arg name="db" default="false" />
	<!-- Allow user to specify database location -->
	<arg name="db_path" default="$(find wam_moveit_config)/default_warehouse_mongo_db" />
	<arg name="load_robot_description" default="true" />
	<!-- Specify the configuration of Simulation -->
	<arg name="4dof" default="false" />
	<arg name="4dof_fts" default="false" />
	<arg name="4dof_bhand" default="false" />
	<arg name="4dof_fts_bhand" default="false" />
	<arg name="7dof" default="false" />
	<arg name="7dof_fts" default="false" />
	<arg name="7dof_bhand" default="false" />
	<arg name="7dof_fts_bhand" default="false" />
	<arg name="bhand" default="false" />
	<arg name="bhand_fts" default="false" />
	<arg name="mono_camera" default="false" />
	<arg name="stereo_camera" default="false" />
	<!--
	By default, hide joint_state_publisher's GUI
	
	MoveIt!'s "demo" mode replaces the real robot driver with the joint_state_publisher.
	The latter one maintains and publishes the current joint configuration of the simulated robot.
	It also provides a GUI to move the simulated robot around "manually".
	This corresponds to moving around the real robot without the use of MoveIt.
	-->
	<!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
	<include file="$(find wam_moveit_config)/launch/planning_context.launch">
		<arg name="load_robot_description" value="$(arg load_robot_description)" />
		<arg name="4dof" value="$(arg 4dof)" />
		<arg name="4dof_fts" value="$(arg 4dof_fts)" />
		<arg name="4dof_bhand" value="$(arg 4dof_bhand)" />
		<arg name="4dof_fts_bhand" value="$(arg 4dof_fts_bhand)" />
		<arg name="7dof" value="$(arg 7dof)" />
		<arg name="7dof_fts" value="$(arg 7dof_fts)" />
		<arg name="7dof_bhand" value="$(arg 7dof_bhand)" />
		<arg name="7dof_fts_bhand" value="$(arg 7dof_fts_bhand)" />
		<arg name="bhand" value="$(arg bhand)" />
		<arg name="bhand_fts" value="$(arg bhand_fts)" />
		<arg name="mono_camera" value="$(arg mono_camera)" />
		<arg name="stereo_camera" value="$(arg stereo_camera)" />
	</include>
	<!-- If needed, broadcast static tf for robot root -->
	<arg name="urdf_path" default="$(find wam_description)/urdf/wam.urdf.xacro" />
	<!-- We do not have a robot connected, so publish fake joint states -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
		<param name="use_gui" value="false" />
		<rosparam param="/source_list">[/joint_states]</rosparam>
	</node>
	<!-- launch the gazebo simulator and spawn the robot -->
	<include file="$(find wam_moveit_config)/launch/gazebo.launch">
		<arg name="paused" value="false" />
		<arg name="gazebo_gui" value="true" />
		<arg name="urdf_path" value="$(arg urdf_path)" />
		<arg name="4dof" value="$(arg 4dof)" />
		<arg name="4dof_fts" value="$(arg 4dof_fts)" />
		<arg name="4dof_bhand" value="$(arg 4dof_bhand)" />
		<arg name="4dof_fts_bhand" value="$(arg 4dof_fts_bhand)" />
		<arg name="7dof" value="$(arg 7dof)" />
		<arg name="7dof_fts" value="$(arg 7dof_fts)" />
		<arg name="7dof_bhand" value="$(arg 7dof_bhand)" />
		<arg name="7dof_fts_bhand" value="$(arg 7dof_fts_bhand)" />
		<arg name="bhand" value="$(arg bhand)" />
		<arg name="bhand_fts" value="$(arg bhand_fts)" />
		<arg name="mono_camera" value="$(arg mono_camera)" />
		<arg name="stereo_camera" value="$(arg stereo_camera)" />
	</include>
	<!-- Given the published joint states, publish tf for the robot links -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
	<!-- Run the main MoveIt! executable without trajectory execution (we do not have controllers configured by default) -->
	<include file="$(find wam_moveit_config)/launch/move_group.launch">
		<arg name="allow_trajectory_execution" value="true" />
		<arg name="fake_execution" value="false" />
		<arg name="info" value="true" />
		<arg name="debug" value="false" />
		<arg name="pipeline" value="$(arg pipeline)" />
		<arg name="load_robot_description" value="$(arg load_robot_description)" />
		<arg name="urdf_path" value="$(arg urdf_path)" />
		<arg name="4dof" value="$(arg 4dof)" />
		<arg name="4dof_fts" value="$(arg 4dof_fts)" />
		<arg name="4dof_bhand" value="$(arg 4dof_bhand)" />
		<arg name="4dof_fts_bhand" value="$(arg 4dof_fts_bhand)" />
		<arg name="7dof" value="$(arg 7dof)" />
		<arg name="7dof_fts" value="$(arg 7dof_fts)" />
		<arg name="7dof_bhand" value="$(arg 7dof_bhand)" />
		<arg name="7dof_fts_bhand" value="$(arg 7dof_fts_bhand)" />
		<arg name="bhand" value="$(arg bhand)" />
		<arg name="bhand_fts" value="$(arg bhand_fts)" />
		<arg name="mono_camera" value="$(arg mono_camera)" />
		<arg name="stereo_camera" value="$(arg stereo_camera)" />
	</include>
	<group if="$(arg mono_camera)">
		<group if="$(arg bhand)">
			<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find wam_moveit_config)/config/bhand_camera_config.rviz" output="screen" />
		</group>
		<group if="$(arg bhand_fts)">
			<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find wam_moveit_config)/config/bhand_camera_config.rviz" output="screen" />
		</group>
		<group unless="$(arg bhand)">
			<group unless="$(arg bhand_fts)">
				<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find wam_moveit_config)/config/wam_camera_config.rviz" output="screen" />
			</group>
		</group>
	</group>
	<group if="$(arg stereo_camera)">
		<group if="$(arg bhand)">
			<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find wam_moveit_config)/config/bhand_stereo_camera_config.rviz" output="screen" />
		</group>
		<group if="$(arg bhand_fts)">
			<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find wam_moveit_config)/config/bhand_stereo_camera_config.rviz" output="screen" />
		</group>
		<group unless="$(arg bhand)">
			<group unless="$(arg bhand_fts)">
				<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find wam_moveit_config)/config/wam_stereo_camera_config.rviz" output="screen" />
			</group>
		</group>
	</group>

	<group unless="$(arg mono_camera)">
		<group unless="$(arg stereo_camera)">
			<group if="$(arg bhand)">
				<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find wam_moveit_config)/config/bhand_config.rviz" output="screen" />
			</group>
			<group if="$(arg bhand_fts)">
				<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find wam_moveit_config)/config/bhand_config.rviz" output="screen" />
			</group>
			<group unless="$(arg bhand)">
				<group unless="$(arg bhand_fts)">
					<node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find wam_moveit_config)/config/wam_config.rviz" output="screen" />
				</group>
			</group>
		</group>
	</group>
	<!-- If database loading was enabled, start mongodb as well -->
	<include file="$(find wam_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)">
		<arg name="moveit_warehouse_database_path" value="$(arg db_path)" />
	</include>
</launch>
